@model Java_Floral.Models.ViewModelMultipleImages

@{
    ViewData["Title"] = "Edit";
}

<div class="login-register-area mt-no-text">
    <div class="container custom-area">
        <div class="row">
            <div class="col-lg-12 offset-lg-12 col-md-12 offset-md-12 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Edit</h2>
                    </div>

                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="products.id" />
                        <input type="hidden" asp-for="products.PImage" />


                        <div class="form-group">
                            <label asp-for="products.Ptitle" class="control-label"></label>
                            <div single-input-item mb-3>
                                <input asp-for="products.Ptitle" class="form-control" />
                            </div>
                            <span asp-validation-for="products.Ptitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="products.Categoryid" class="control-label"></label>
                            <div single-input-item mb-3>
                                <select asp-for="products.Categoryid" class="form-control" asp-items="ViewBag.Categoryid"></select>
                            </div>
                            <span asp-validation-for="products.Categoryid" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="products.Pshortdis" class="control-label"></label>
                            <div single-input-item mb-3>
                                <input asp-for="products.Pshortdis" class="form-control" />
                            </div>
                            <span asp-validation-for="products.Pshortdis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="products.Plongdis" class="control-label"></label>
                            <div single-input-item mb-3>
                                <input asp-for="products.Plongdis" class="form-control" />
                            </div>
                            <span asp-validation-for="products.Plongdis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="products.Price" class="control-label"></label>
                            <div single-input-item mb-3>
                                <input asp-for="products.Price" class="form-control" />
                            </div>
                            <span asp-validation-for="products.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <img src="~/@Model.products.PImage" width="100px" height="100px" />
                            <div single-input-item mb-3>
                                <input asp-for="products.myimg" class="form-control" />
                            </div>
                            <span asp-validation-for="products.myimg" class="text-danger"></span>
                        </div>

                        @*_____________ Multiple Images ___________*@
                        <div class="form-group">
                            <label asp-for="Images" class="control-label">MultipeImages of Product</label>
                            <div single-input-item mb-3>
                                <input asp-for="Images" class="form-control" multiple class="form-control" />
                            </div>
                            <span asp-validation-for="Images" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div single-input-item mb-3>
                                <input type="submit" value="Save" class="btn flosun-button secondary-btn theme-color rounded-0" />
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="col-6">
    @foreach (var item1 in Model.multipeImagePro_List.ToList())
    {
        <img src="~/@item1.ImageUrl" style="width:40px;height:40px" />
    }
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
