@model IEnumerable<Java_Floral.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<!-- Single Tab Content Start -->
<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
    <div class="myaccount-content">
        <div class=" justify-content-left">
            <nav class="main-nav">
                <ul class="nav">

                    <li>
                        <a asp-action="Create" asp-controller="Categories" asp-area="Admin">
                            <span class="menu-text">Add Categories</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <table class="table table-bordered">
            <thead class="table-success secondary-border">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>Button</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


 



